body {
    padding: 0;
    margin: 0;
}
.hero {
    background-color: #f08e80;
    height: 90vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 24px 32px;
    box-sizing: border-box;
}
.navbar .link a {
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-size: 1.2rem;
}
.navbar p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
.navbar .contact {
    background-color: white;
    text-decoration: none;
    color: #f08e80;
    padding: 16px 24px;
    border-radius: 0.5rem;
}

.navbar .contact:hover {
    opacity: 0.8;
}