body {
    padding: 0;
    margin: 0;
}
.hero {
    background-color: #f08e80;
    height: 90vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 24px 32px;
}